@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #ffce76;
    --body-font-color: #515151;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
/* End of Global Styles */

/* Header and Menu Styles */
header { 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: flex;
    width: 12rem;
}

.menu-toggle {
    color: white;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(150%);
    transition: transform .5s;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover,
.nav-link:active {
    color: var(--secondary-font-color);
}
/* End of Header and Menu Styles */

/* Hero Styles */
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent), url("images/dab-front.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline {
    color: white;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    opacity: 0;
    animation: scale .5s forwards;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: white;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: white;
    right: 0;
}

.line-left::before{
    border-left-color: white;
    left: 0;
}

.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: 1.2s;
}

.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5{
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}


.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: white;
    padding: .9rem 1.8rem;
    color: var(--main-font-color-dark);
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:focus,
.cta-btn:active,
.cta-btn:hover{
    color: white;
    background-color: var(--secondary-font-color);

}
/* End of Hero Styles */

/* Start of Discover Styles */
.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}

.discover-our-services{
    align-items: center;
}

.discover-our-services .global-headline {
    margin-top: 6.9rem;
}

.global-headline .asterisk {
    color: var(--body-font-color);
    margin: 2.4rem 0;
}

.headline-dark{
    color: var(--main-font-color-dark);
    letter-spacing: .7rem;
    margin-right: -.7rem;
    margin-top: .4rem;
}

.global-headline .sub-headline{
    letter-spacing: -1px;
    line-height: .42;
}

.restaurant-info {
    text-align: center;
}

.restaurant-description{
    margin-bottom: 3rem;
}

.restaurant-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.body-btn:hover,
.body-btn:active,
.body-btn:focus {
    color: var(--main-font-color-dark);
}

.body-btn:focus::before,
.body-btn:active::before,
.body-btn:hover::before {
    background-color: var(--main-font-color-dark);
}

.service-group{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.6rem;
}

.service{
    position: relative;
    width: 100%;
    height: 25rem;
    background: #000;
    box-shadow: 0 .3rem .3rem rgba(0,0,0,.5);
}

.service .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5 ease-in-out;
}

.service .imgBox::before{
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(to bottom,  transparent, rgba(0,0,0,1));
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: rgba(255,255,255,.8);
    font-weight: 700;
    z-index: 1;
    text-transform: uppercase;
}

.service .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.service:focus .imgBox img,
.service:active .imgBox img,
.service:hover .imgBox img{
    opacity: 0;
}

.service .content{
    position: absolute;
    bottom: 2rem;
    left: 10%;
    width: 80%;
    height: 6rem;
    background: white;
    opacity: 0;
    transition: 0.4s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.service:focus .content,
.service:active .content,
.service:hover .content{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.service .content p {
    margin: 1rem 0 0;
    padding: 0 1.5rem;
    opacity: 0;
    line-height: 1.2em;
    font-size: 1.6rem;
    transition: 0.1s;
    text-align: center;
}

.service:focus .content p,
.service:active .content p,
.service:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
}

/* End of Our Story Styles */

/* Recipes Styles */
.tasteful-recipes {
    background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent), url("images/dab-front-cars.jpg") center no-repeat;
    background-size: cover;
}

.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}
/* End of Recipes Styles */

/* Menu Styles */
.discover-our-menu{
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.image-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .7rem;
}

.image-group-short{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .7rem;
}

.discover-our-menu .restaurant-description{
    padding-top: 3rem;
    margin-bottom: 0;
}
/* End of Menu Styles */

/* Perfect blend styles */
.perfect-blend {
    background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent), url("images/hero-dab.jpg") center no-repeat;
    background-size: cover;
}
/* End of perfect blend styles */

/* Footer Styles */
footer {
    padding: 7.9rem 0;
    background-color: #121212;
    color: white;
    text-align: center;
    position: relative;
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    animation: up 1.5s infinite;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .asterisk{
    margin: 2.4rem 0;
}

.footer-content-about{
    margin-bottom: 5.4rem;
}

.footer-content-about p{
    line-height: 2;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i{
    font-size: 2rem;
    color: white;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color);
}

.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 19rem;
}
/* End of Footer Styles */

/* Media queries */
@media screen and (min-width :500px){
    .service-group{
        grid-gap: 1.3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .image-group,
    .image-group-short{
        grid-gap: 1.3rem;
    }

    .service{
        width: 100%;
        height: 30rem;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
    }

    .image-group-short{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .service .imgBox::before{
        font-size: 1.6rem;
    }
    
    .service .content p{
        transition: .2s;
    }

}

@media screen and (min-width :850px){
    section{
        padding: 6.9rem;
    }

    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        font-size: 1.3rem;
    }

    .active{
        position: relative;
    }

    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        left: 0;
        bottom: -3px;
    }

    .sub-headline{
        font-size: 10rem;
    }

    .first-letter{
        font-size: 12.2rem;
    }

    .headline{
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .line{
        max-width: 11.4rem;
    }

    .restaurant-info{
        display: flex;
        align-items: center;
    }

    .restaurant-info > div{
        flex: 1;
    }

    .service-group{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
    }

    .service{
        width: 100%;
        min-height: 50vh;
    }

    .service .imgBox::before{
        font-size: 2.4rem;
    }

    .service .content p{
        font-size: 1.7rem;
    }

    .padding-right{
        padding-right: 7rem;
    }

    .padding-left{
        padding-left: 7rem;
    }

    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-content-divider{
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .social-icons{
        opacity: 1;
    }

    .newsletter-btn{
        margin-left: 12.0rem;
    }
}
/* End of Media Queries */

/* Animations */
@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);

    }
}

@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;

    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);

    }
}

@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(.5rem);
    }
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}